@charset "UTF-8";
html{
	height: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	overflow: auto;
}
li{
	list-style:none;
}
ul,p{
	margin: 0px;
	padding:0px;
}
h5{
	padding-left: 20px;
}

#login{
	width: 240px;
	height: 300px;
	border-radius: 10px;
	position: absolute;
	top: 50px;
	box-shadow: darkgrey 10px 10px 30px 5px ;
	display:none;
}
#logBtn{
	position: absolute;
	text-align: center;
}

/* 人气评分 */
#hot{
	height: 1000px;
	background-color: #EEE;

	display: none;

}


#hot_match li{
	height:100px;
}

.hot_match_project{
	/* width: 100%;*/
	height: 40px; 
	background-color: #0CC;
	/* margin:10px; */
	box-shadow: darkgrey 10px 10px 30px 5px ;
	border-top-right-radius: 20px;
	border:2px solid #FFF;
	border-left: none;
	/* border-bottom-right-radius: 20px; */
	
}
.hot_match_dep{

	height: 40px; 
	border-top-left-radius: 20px;
	/* border-bottom-left-radius: 20px; */
	background-color: #FDD;
	border:2px solid #FFF;
	border-right: none;
}

.hot_match_dep p{
	line-height: 40px;
	text-align: center;
}

.hot_match_project p{
	line-height: 40px;
	text-align: center;
}
.hot_match_value{
	margin-top: 5px;
	height: 40px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #FFE;	

}
#hotVotbtn{
	margin-top: 10px;
	display: none;
	position: absolute;
	background-color: #EEE;
	box-shadow: darkgrey 10px 10px 30px 5px ;

}
#hotVotingPower{
	height: 60px;
	position: relative;
}

/* 选票 */
.votingPower{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #0FF;
	top:-15px;
	position: absolute;
}
.votingNombers{
	height: auto;
	overflow: auto;
}
/* 专家评分 */
.special_match_dep{
	height: 40px; 
	border-top-left-radius: 20px;
	background-color: #FCD;
	border:2px solid #FFF;
	border-right: none;
}
.special_match_dep p{
	line-height: 40px;
	text-align: center;
}

#specalistMatch{

	height: 100%;
	background-color: #EEE;

	display: none;

}


.special_match_project{
	height: 40px; 
	background-color: #0CC;
	box-shadow: darkgrey 10px 10px 30px 5px ;
	border-top-right-radius: 20px;
	border:2px solid #FFF;
	border-left: none;
}

.special_match_project p{
	line-height: 40px;
	text-align: center;
}
.standardstyle{
	height: 14px;
}
#special_match li{
	height: auto;

}
.special_match_value{
	margin-bottom: 10px;
	height: auto;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #FFE;	
	box-shadow: darkgrey 10px 10px 30px 5px ;
	display: none;

}
.special_match_value span{
	margin-left: 15px;
}
.special_match_value input{
	border-radius: 10px;
	width: 180px;
	margin-bottom: 10px;
	padding-left: 10px;
}


#specalistVotingPower{
	padding: 20px;
}

/* 专家投票权 */
#specalistvotingNombers{
	font-size: 18px;
	font-weight: 700;
	color: #F00;
}
#specalistVotbtn{
	position: absolute;
	width: 100%;
	top: 45px;
	left: 0;
	box-shadow: darkgrey 10px 10px 30px 5px ;
	display: none;
	background: rgba(138, 197, 0, 0.4);
}
.usedVoting{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #F0F;
	top:5px;
	position: absolute;
	box-shadow: #abc 5px 5px 15px 2px ;
}
.tttt{
	position: absolute;
	bottom: 100px;
	border:1px solid #6b019f;
	width: 75px;
	height: 400px;
	background: #c6caf4;
	border-radius:20px;
}
.proName{
	position: absolute;
	bottom: -80px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: #F00;
	border:2px solid #FF0;
}
.proName p{
	width: 75px;
	word-wrap: break-word;
	color:#fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 75px;
}
.resultStyle{

	position: absolute;
	left: 1px;
	bottom: 0px;
	width:70px;
	border-radius: 20px;
	border:1px solid #aa04fc;
	box-shadow: darkgrey 1px 1px 5px 1px ;
}

.resultStyle p{
	width: 75px;
	white-space:nowrap;
	color: #F00;
	font-size: 20px;
	font-weight: 700;
}

#result{
	height: 100%;
	width: 100%;
	display:none;
	background: #ff0000 url(/images/bg1.gif) no-repeat fixed top;
}
#content{
	width:auto;
	height: 600px;
	margin: 20px auto;
	border:1px solid #fff;
	position:relative;
	padding: 100px;

}
.hotresultStyle{
	position: absolute;
	height: 20px;
	width: 200px;
	border: 1px solid #F00;
	background-color: #F00	
}
#goback{
	position: absolute;
	top: 450px;	
	left: 0;	
}
.margin-b{
	margin-top: 10px;
}
.btn-group{
	width: 100%;
	margin: 5px auto;
	text-align: center;
}
.none{
	display: none ! important ;
}
.block{
	display: block ! important ;
}